.git
.gitignore
.idea
.vscode
.env
.env.*
!.env*.example
**/node_modules
**/.next
**/.next-cache*
**/dist
**/build
**/.turbo
**/.cache
**/coverage
**/*.tsbuildinfo
**/target
**/*.log
README.md
dev-infra
